@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Cuadro de la NavBar*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

body{
    background-color: #ffffff;
}

/*color de la barra*/
.navbar{
    background-color: #2C6969;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 10px 20px;
    padding: 32px;
    gap: 40px;
}

/*le saca los puntos tipo lista a la nav*/
.navbar .nav-links{
    list-style: none;
}

/*Separacion de elementos de la barra*/
.navbar .nav-links li{
    display: inline-block;
    padding: 0 20px;
}


/*Al hacer hover al texto, se agranda*/
.navbar .nav-links li:hover,
.overlay .a:hover{
    transform: scale(1.1);
}


/*Cambia el color del texto al hacer hover*/
.navbar .nav-links li a:hover{
    color: #ffffff;
    font-weight: 700;
}

/* Estilos para el enlace activo */
.navbar .nav-links li a.active {
    background-color: #f8f8f8;
    font-weight: 700;
    color: #2C6969;
    border-radius: 8px;
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
}

/*Para que no aparesca la palabra menu*/
.menu{
    display: none;
}


/*Color del texto y font size*/
.navbar .nav-links a{
    font-size: 700;
    color: #ffffff;
}

.navbar .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #2C6969;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar .menu button:hover{
    background-color: #ffffff;
    color: #214E4E;
    transform: scale(1.1);
}

@media screen and (max-width: 800px){
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }

}

/*Nav Hamburguesa o Movil*/
.navbar a{
    text-decoration: none;
}
