.frameGeneral{
    display: inline-flex;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.frameContenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button{
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--Texto-Secundario, #649696);
    font-size: 16px;
    font-weight: 700;
}

.button:hover{
    color: var(--Texto-Secundario, #2C6969);
    
}

.button:active{
    color: var(--Texto-Secundario, #214E4E);
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    display: flex;
    width: 1243px;
    flex-direction: column;
    align-items: flex-start;
}

.titulo{
    display: flex;
    height: 92px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.descripcion{
    display: flex;
    width: 1243px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagen{
    display: flex;
    width: 887px;
    height: 591px;
    padding: 32px 16px;
    align-items: flex-start;
    gap: 10px;
}

.imagen1{
    display: flex;
    padding: 32px 16px;
    align-items: flex-start;
    gap: 10px;
}

.imagen2{
    display: flex;
    padding: 0px 32px;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 64px;
}

.imagen3{
    display: flex;
    padding: 0px 32px;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 64px;
}





