@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 20px;
    font-style: normal;
    line-height: normal;
}

  /* Fonts Bold/H1 32 Titulos */
h1{
    font-size: 32px;
    font-weight: 700;
    padding: 16px;
}

/* Fonts Regular/H2 28 Titulos, Subtemas H1 */
h2{
    font-size: 28px;
    font-weight: 400;
}

/* Fonts Regular/H3 24 Titulos Subsecciones H2 */
h3{
    font-size: 24px;
    font-weight: 400; 
}

/* Fonts Regular/H4 20 Titulos Subsecciones H3 */
h4{
    font-size: 20px;
    font-weight: 400;
}

/* Fonts Regular/H5 18 Titulos Subsecciones H4 */
h5{
    font-size: 18px;
    font-weight: 400;
}

/* Fonts Regular/H6 16 Titulos Subsecciones H5 */
h6{
    font-size: 16px;
    font-weight: 400;
}




/*Frame que tiene toda la info*/
.FrameGeneral{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.375px;
}

/*Frame de la foto con descripcion*/
.FrameFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Foto{
    display: flex;
    padding: 0px 32px;
    align-items: flex-start;
    gap: 10px;
}

/*Cuadro con la info, se aplica a la parte de la foto y a la info general*/
.CuadroDescriptivo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.EncabezadoDesc{
    display: flex;
    width: 412px;
    height: 54px;
    padding: 16px 8px 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.TextoDesc{
    display: flex;
    width: 412px;
    height: 190px;
    padding: 24px 8px 16px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*Frame de toda la info*/
.FrameInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*Texto descriptivo sobre mi*/
.TextoSobremi{
    display: flex;
    padding: 16px 16px 32px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*Cuadro de Habilidades*/

.CuadroHab{
    width: 922px;
    height: 520px;
}



